@import '../../styles/variables';
@import '../../styles/mixins';

.input {
	padding: $baseline * 0.8;
	height: 100%;
	width: 100%;
	border: none;
	font-size: $base-text-size;
	font-family: $font-family;
	color: lighten($primary-text-color, 10%);
	box-sizing: border-box;
	resize: none;

	&:focus {
		outline: none;
		border: none;
	}
}
