@import '../../styles/variables';

.badge {
	position: relative;
	display: table;
	left: 50%;
	transform: translateX(-50%);
	padding: $baseline * 0.1 $baseline * 0.5;
	margin: $baseline * 0.3;
	font-size: $baseline * 0.4;
	text-align: center;
	background: #fafafa;
	border: 1px solid darken($primary-line-color, 5%);
	min-width: 10px;
	border-radius: 50px;
}
