@import '../../styles/variables';
@import '../../styles/mixins';

.input-window {
	height: 100%;
	width: 100%;

	&__form {
		height: 100%;
		width: 80%;
		float: left;
	}

	&__action {
		height: 100%;
		width: 20%;
		float:left;
		border-left: 1px solid $primary-line-color;
		box-sizing: border-box;
	}
}
