$baseline: 24px;
$base-padding: $baseline / 2;
$base-margin: $baseline / 2;
$base-text-size: $baseline * 0.6;
$base-line-height: $baseline * 0.8;

$primary-text-color: #666;
$primary-background-color: #fff;
$primary-line-color: #f0f0f0;
$font-family: 'Roboto', sans-serif;

$primary-brand-color: #5BC4F9;
