@import './styles/scaffoldings';

@import './containers/Sidebar/Sidebar';
@import './containers/MainWindow/MainWindow';

@import './components/Badge/Badge';
@import './components/Button/Button';
@import './components/Contact/Contact';
@import './components/ContactWindow/ContactWindow';
@import './components/Input/Input';
@import './components/InputWindow/InputWindow';
@import './components/MessageBox/MessageBox';
@import './components/MessageWindow/MessageWindow';
@import './components/WindowTopBar/WindowTopBar';
@import './components/TabMenu/TabMenu';
@import './components/SearchBox/SearchBox';

.app {
	width: $baseline * 40;
	height: 80%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	overflow: hidden;
}
