@import '../../styles/variables';
@import '../../styles/mixins';

.main-window {
	position: relative;
	float: left;
	width: 75%;
	height: 100%;
	box-sizing: border-box;

	&__top-bar {
		position: absolute;
		height: $top-bar-height;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid $primary-line-color;
		box-sizing: border-box;
	    box-shadow: 0 2px 10px 2px #f6f6f6;
	}

	&__message-window {
		position: absolute;
		top: $top-bar-height;
		left: 0;
		right: 0;
		bottom: $baseline * 2.5;
		padding: $baseline * 0.5 0;
		overflow: auto;
	}

	&__input-window {
		position: absolute;
		height: $baseline * 2.5;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px solid $primary-line-color;
		box-sizing: border-box;
		box-shadow: 0 -2px 10px 2px #f6f6f6;
	}
}
