@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	border-right: 1px solid $primary-line-color;
	box-sizing: border-box;
	background: $sidebar-color;
	color: #fff;
	z-index: 1;

	&__tab-menu {
		height: $top-bar-height;
	}
}
